<form action="/api/sessions/signup" method="post">
    First Name: <input type="text" name="first_name" id="first_name">
    Last Name: <input type="text" name="last_name" id="last_name">
    Age: <input type="number" name="age" id="age">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
</form>

<button onclick="location.href=`api/sessions/auth/github`">Signup with Github</button>