<h2>Product real price:</h2>
<p id="priceP">10</p>


<form id="form">
    Price: <input type="number" name="price" id="price">
    <input type="submit" value="SEND">
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>